<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Match</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Pertandingan 1 -->
    <ion-item color="light">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <img src="assets/t3.png" height="60"><br/>
            Arsenal<br/>
            <ion-label color="success">2</ion-label>
          </ion-col>
          <ion-col class="ion-text-center">
            <small>Thu, Apr 9<br/>21:30 GMT+7</small>
          </ion-col>
          <ion-col class="ion-text-center">
            <img src="assets/t43.png" height="60"><br/>
            Man City<br/>
            <ion-label color="danger">0</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- Pertandingan 2 (tambahan) -->
    <ion-item color="light">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <img src="assets/t10.png" height="60"><br/>
            Real Madrid<br/>
            <ion-label color="success">10</ion-label>
          </ion-col>
          <ion-col class="ion-text-center">
            <small>Tanggal<br/>Waktu</small>
          </ion-col>
          <ion-col class="ion-text-center">
            <img src="assets/t43.png" height="60"><br/>
            Man City<br/>
            <ion-label color="danger">1</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- Pertandingan 3 (tambahan) -->
    <ion-item color="light">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <img src="assets/barca.png" height="60"><br/>
            Barcelona<br/>
            <ion-label color="danger">0</ion-label>
          </ion-col>
          <ion-col class="ion-text-center">
            <small>Tanggal<br/>Waktu</small>
          </ion-col>
          <ion-col class="ion-text-center">
            <img src="assets/psg.png" height="60"><br/>
            Paris Saint Germain<br/>
            <ion-label color="success">4</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
    <!-- Dan seterusnya... -->

  </ion-list>
</ion-content>
